main {
  height: 65vh;
  margin: 60px;
}

h1 {
  text-align: center;
  background-color: rgba(32, 218, 187, 0.5);
}

.controls {
  padding-bottom: 50px;
}

.controls input,
.controls button,
.controls label {
  margin-right: 6px;
}

#students {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#students-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.student {
  background-color: rgba(32, 218, 187, 0.5);
  padding: 30px;
}
.student img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#feat-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#feat-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hide {
  display: none;
}
